Repository wechaty/grpc, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zhangchunsheng, @wj-Mcat, @diaozxin007, @dchaofei

.github/CODEOWNERS:

#
# https://help.github.com/articles/about-codeowners/
#

/php/       @zhangchunsheng
/python/    @wj-Mcat
/java/      @diaozxin007
/go/        @dchaofei

add php action
  .github/workflows/php.yml
  php/generate.sh
Owners: @zhangchunsheng

add php action
  .github/workflows/php.yml
  README.md
Owners: none

add php action
  README.md
Owners: none

add php action
  README.md
Owners: none

add php action
  .github/workflows/php.yml
  README.md
Owners: none

add php action
  .github/workflows/php.yml
Owners: none

add php action
  .github/workflows/php.yml
Owners: none

add php action
  .github/workflows/php.yml
  php/generate.sh
Owners: @zhangchunsheng

add php action
  .github/workflows/php.yml
Owners: none

add php action
  .github/workflows/php.yml
Owners: none

add php action
  .github/workflows/php.yml
Owners: none

add php action
  README.md
Owners: none

add php action (#78)
  .github/workflows/php.yml
  README.md
  php/generate.sh
Owners: @zhangchunsheng

tune layout for source code
  README.md
Owners: none

Update README.md
  README.md
Owners: none

v0.17
  package.json
Owners: none

fix to v0.17
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

add dirty rpc function definition for sync data
  proto/wechaty/puppet.proto
  proto/wechaty/puppet/contact.proto
  proto/wechaty/puppet/friendship.proto
  proto/wechaty/puppet/message.proto
  proto/wechaty/puppet/room.proto
Owners: none

try to fix tests
  proto/wechaty/puppet/room_member.proto
  tests/puppet-server-impl.ts
Owners: none

add rpc roomMemberPayloadDirty
  proto/wechaty/puppet.proto
Owners: none

add dirty event type
  proto/wechaty/puppet/event.proto
Owners: none

revise code according to comments
  proto/wechaty/puppet.proto
  proto/wechaty/puppet/base.proto
  proto/wechaty/puppet/contact.proto
  proto/wechaty/puppet/event.proto
  proto/wechaty/puppet/friendship.proto
  proto/wechaty/puppet/message.proto
  proto/wechaty/puppet/room.proto
  proto/wechaty/puppet/room_member.proto
Owners: none

fix github url
  python/Makefile
Owners: @wj-Mcat

0.16.2
  package.json
Owners: none
